### Question 1:Assuming that we have some email addresses in the "username@companyname.com" format, please write programto print the company name of a given email address. Both user names and company names are composed of lettersonly.

In [49]:
mailid = "abc@outlook.com"
mail = mailid.split('@')[1]
companyname = mail.split('.')[0]
print(companyname)

outlook

### Question 2: Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.

In [74]:
a=  'without,hello,bag,world'
a = a.split(',')
a.sort()
a

['bag', 'hello', 'without', 'world']

### Question 3: Create your own Jupyter Notebook for Sets

In [18]:
set1 = {1,2,3}
print(set1)

{1, 2, 3}

In [19]:
#using or loop
set1 = {1,2,3}
for i in set1:
        print(i)

1
2
3

In [21]:
# using in  
set1 = {1,2,3}
print (4 in set1)
print (3 in set1)

False
True

In [22]:
# using add()
set1.add(4)
print(set1)

{1, 2, 3, 4}

In [25]:
# using update()
set1.update([1,2,3,5,6,7])
print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [30]:
# using remove()
set1.remove(4)
print(set1)

{1, 2, 3, 6, 7}

In [31]:
#using discard()
set1.discard(7)
print(set1)

{1, 2, 3, 6}

In [33]:
# using pop()
set1  = {1,2,3,6}
set2 = set1.pop()
print(set1)
print(set2)

{2, 3, 6}
1

In [34]:
# using clear()
set1.clear()
print(set1)

set()

In [35]:
# using union()
set1 = {"x","y","z"}
set2 = {1,2,3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'y', 'z', 'x'}

In [36]:
# using set() constructor
set1 = set((1,2,3))
print(set1)

{1, 2, 3}

In [41]:
#using copy()
set1 = {1,2,3}
set3 = set1.copy()
print(set3)
print(set1)

{1, 2, 3}
{1, 2, 3}

In [44]:
# using difference()
set1={8,9,10,1}
set2={1,2,3}
set3 = set1.difference(set2)
print(set3)

{8, 9, 10}

In [45]:
# using superset()
a = {1,2,3,4,5}
b = {1,2,3}
print(a.issuperset(b))

True

In [46]:
# using subset()
a= {1,2,3}
b = {1,2,3,4,5}
print(a.issubset(b))

True

### Question 4: Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [16]:
def find_missing(l):
    return sorted(set(range(l[0], l[-1]))-set(l))
l= [1 ,2 ,4, 3 ,6 ,7 ,8]
print(find_missing(l))

[5]

### Question 5: With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [13]:
list0 = [12 ,24, 35, 24, 88, 120, 155, 88, 120, 155]
print("The Given list is" ,list0)
list1 = list(sorted(set(list0)))
print("The ordered list ater removing duplicates" ,list1)

The Given list is [12, 24, 35, 24, 88, 120, 155, 88, 120, 155]
The ordered list ater removing duplicates [12, 24, 35, 88, 120, 155]