In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("general_data.csv")

In [3]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
Age                        4410 non-null int64
Attrition                  4410 non-null object
BusinessTravel             4410 non-null object
Department                 4410 non-null object
DistanceFromHome           4410 non-null int64
Education                  4410 non-null int64
EducationField             4410 non-null object
EmployeeCount              4410 non-null int64
EmployeeID                 4410 non-null int64
Gender                     4410 non-null object
JobLevel                   4410 non-null int64
JobRole                    4410 non-null object
MaritalStatus              4410 non-null object
MonthlyIncome              4410 non-null int64
NumCompaniesWorked         4391 non-null float64
Over18                     4410 non-null object
PercentSalaryHike          4410 non-null int64
StandardHours              4410 non-null int64
StockOptionLevel           4410 non-null int64
TotalWorkingYears          4401 non-null float64
TrainingTimesLastYear      4410 non-null int64
YearsAtCompany             4410 non-null int64
YearsSinceLastPromotion    4410 non-null int64
YearsWithCurrManager       4410 non-null int64
dtypes: float64(2), int64(14), object(8)
memory usage: 827.0+ KB

In [17]:
df.mean()

Age                           36.923810
Attrition                      0.161224
DistanceFromHome               9.192517
Education                      2.912925
EmployeeCount                  1.000000
EmployeeID                  2205.500000
JobLevel                       2.063946
MonthlyIncome              65029.312925
NumCompaniesWorked             2.694830
PercentSalaryHike             15.209524
StandardHours                  8.000000
StockOptionLevel               0.793878
TotalWorkingYears             11.279936
TrainingTimesLastYear          2.799320
YearsAtCompany                 7.008163
YearsSinceLastPromotion        2.187755
YearsWithCurrManager           4.123129
dtype: float64

In [19]:
df.skew()

Age                        0.413005
Attrition                  1.843111
DistanceFromHome           0.957466
Education                 -0.289484
EmployeeCount              0.000000
EmployeeID                 0.000000
JobLevel                   1.024703
MonthlyIncome              1.368884
NumCompaniesWorked         1.026767
PercentSalaryHike          0.820569
StandardHours              0.000000
StockOptionLevel           0.968321
TotalWorkingYears          1.116832
TrainingTimesLastYear      0.552748
YearsAtCompany             1.763328
YearsSinceLastPromotion    1.982939
YearsWithCurrManager       0.832884
dtype: float64

In [5]:
df.Attrition.replace(to_replace  = ("No","Yes"),value = (0,1),inplace = True)

# Non Parametric Tests
## 1) Wilcoxon Paired test : 
### Used to compare two paired samples.

In [6]:
from scipy.stats import wilcoxon
stats, p = wilcoxon(df.Attrition, df.Age)
print(stats,p)

0.0 0.0

### p>0.05. So,there is significant impact of Age on Attrition

## 2) Friedman Test:
### It is used to compare more than two paired samples

In [7]:
from scipy.stats import friedmanchisquare
stats, p = friedmanchisquare(df.Attrition, df.Age, df.DistanceFromHome, df.MonthlyIncome )
print(stats,p)

13149.43839541547 0.0

### p>0.05. So,there is significant impact of Age,DistanceFromHome and MonthlyIncome on Attrition

## 3)Mann-Whitney Test:
### It is used to compare two independent samples

In [8]:
from scipy.stats import mannwhitneyu
stats , p = mannwhitneyu(df.Attrition, df.Education)
print(stats,p)

181305.0 0.0

### p>0.05. So,there is significant impact of Education on Attrition

## 4)Kruskal-Wallis Test:
### It is used to compare more than two independent samples

In [9]:
from scipy.stats import kruskal
stats , p = kruskal(df.Attrition, df.Education, df.JobLevel)
print(stats, p)

9190.473391894182 0.0

### p>0.05. So,there is significant impact of Education and Joblevel on Attrition

## 5)Chi Square Test:
### It is used to check the dependency of the variables and the variables should be categorical

In [10]:
from scipy.stats import chi2_contingency
chitable = pd.crosstab(df.Attrition, df.Department)
chitable

Department  Human Resources  Research & Development  Sales
Attrition
0                       132                    2430   1137
1                        57                     453    201

In [11]:
stats, p, dof, expected = chi2_contingency(chitable)
print(stats, p)

29.090274924488266 4.820888218170406e-07

### p<0.05. So, the variables are dependent.

# Parametric Tests
## 1)One Sample T Test:
### It is used to compare sample mean with the population mean

In [12]:
df["Attrition"].mean()

0.16122448979591836

In [13]:
from scipy.stats import ttest_1samp
stats, p = ttest_1samp(df.Attrition, 1000)
print(stats, p)

-180535.09893706063 0.0

### p>0.05. There is significant difference between the mean of attrition against population mean which is 1000

## 2)Two Sampled Paired T Test:
### It is used to compare mean of two paired samples

In [14]:
from scipy.stats import ttest_rel
stats, p = ttest_rel(df.Attrition, df.Age)
print(stats, p)

-265.38946409068467 0.0

### p<0.05. So, there is significant impact of Age  on Attrition

## 3)Two-Sample Independent T Test:
### It is used to compare the mean of two independent samples

In [16]:
from scipy.stats import ttest_ind
stats, p = ttest_ind(df.Attrition, df.Education)
print(stats, p)

-167.95761114128968 0.0

### p>0.05. So,there is significant impact of Education on Attrition